.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background: #f27a5f;
}

.form {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .container {
    flex-direction: row;
    height: 100vh;
  }
}
