.label {
  font-size: 18px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #334585;
  display: block;
  margin-bottom: 10px;
  margin-top: 18px;
}

.input {
  background: #f7f3f3;
  border-radius: 8px;
  border: none;
  padding: 8px;
  color: #ec3939;
  width: 80%;
  margin-bottom: 18px;
}

.input::placeholder {
  color: #a09e9e;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}