body {
  font-family: "Roboto", sans-serif;
}

.sobre,
figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

figure {
  width: 100vw;
}

.sobre {
  background: #f27a5f;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.img {
  min-width: 60%;
  max-width: 40%;
}

@media (min-width: 1200px) {
  .img {
    min-width: 50%;
  }
  .sobre {
    flex-direction: row;
  }
}
