body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f27a5f;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

@media (min-width: 1200px) {
  .container {
    flex-direction: row;
  }
}
