.liMenu {
  text-transform: uppercase;
}

li {
    display: inline;
}

ul li a {
  font-size: 14px;
    padding: 2px 10px;
    display: inline-block;
    /* visual do link */
    color: #334585;
    text-decoration: none;
  }
  
  ul li a:hover {
    color: #ffffff;;
    border-bottom: 2px solid #FFFFFF;
    border-radius: 3px;
  }
