.button {
  font-size: 18px;
  padding: 14px 24px;
  border: none;
  text-transform: uppercase;
  width: 80%;
  margin-top: 15px;
}

.big {
  font-size: 18px;
  padding: 14px 24px;
  border-radius: 13px;
}

.medium {
  font-size: 13px;
  height: 40px;
  border-radius: 10px;
  width: 90%;
  font-weight: bold;
}

.small {
  font-size: 10px;
  font-weight: bold;
  width: 40%;
  border-radius: 10px;
  padding: 13px;
  margin: 20px 15px;
  height: 40px;
}

.blue {
  background: #334585;
  color: #fff;
}

.blue:hover {
  background: #253469;
}

.button:disabled {
  background-color: #a09e9e;
  cursor: not-allowed;
}

.lightBlue {
  background: #a0e7f2;
  color: #334585;
}

.lightBlue:hover {
  background: #61ddf0;
  color: #334585;
}

.lightOrange {
  background: #ffdaa4;
  color: #334585;
}

.lightOrange:hover {
  background: #ffd595;
  color: #334585;
}

.lightRed {
  background: #fba7a7;
  color: #334585;
}

.lightRed:hover {
  background: #fc9a9a;
  color: #334585;
}

.salmon {
  background: #fa5d5d;
  color: #fff;
}

.salmon:hover {
  background: #ff4545;
  color: #fff;
}
