.button {
  font-size: 18px;
  padding: 14px 24px;
  border: none;
  text-transform: uppercase;
  width: 80%;
  margin-top: 20px;
}

.big {
  font-size: 18px;
  padding: 14px 24px;
  border-radius: 13px;
}

.medium {
  font-size: 13px;
  height: 40px;
  border-radius: 10px;
  width: 90%;
}

.small {
  font-size: 10px;
  width: 40%;
  border-radius: 10px;
  padding: 2px 2px;
  margin: 25px 15px;

}

.blue {
  background: #334585;
  color: #FFF;
}

.blue:hover {
  background: #253469;
}

.button:disabled {
  background-color: #a09e9e;
  cursor: not-allowed;
}

.lightBlue {
  background: #A0E7F2;
  color: #334585;
}

.lightBlue:hover {
  background: #61ddf0;
  color: #334585;
}

.lightOrange {
  background: #FFDAA4;
  color: #334585;
}

.lightOrange:hover {
  background: #ffd595;
  color: #334585;
}

.lightRed {
  background: #FBA7A7;
  color: #334585;
}

.lightRed:hover {
  background: #fc9a9a;
  color: #334585;
}

.salmon {
  background: #EC3939;
  color: #fff;
}

.salmon:hover {
  background: #F96767;
  color: #FFF;
}
