.container {
  background-color: #ececec;
  min-height: 100vh;
}

.cardProductOrder {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .cardProductOrder {
    flex-direction: column;
    align-items: center;
  }
}
