.container {
  background-color: #ececec;
  min-height: 100vh;
}

.cardProductOrder {
  display: flex;
  justify-content: center;
}

.categoryMenu {
  background: #ec3939;
  color: #fff;
}

.categoryMenu:hover {
  background: #f96767;
  color: #fff;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.cardProductOrder {
  display: flex;
}
