.card {
  width: 40%;
  background: #fcf7f7;
  border: 4px solid #bfbebe;
  box-sizing: border-box;
  border-radius: 21px;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 14px;
  min-height: 25%;
  justify-content: space-evenly;
  padding: 8px;
}


.orderItem {
  color: #858585;
  text-transform: uppercase;
  padding: 8px;
  border-bottom: 1px solid #818181;
}

.total {
  color: #334585;
  text-transform: uppercase;
  padding: 8px;
}

p {
  color: #f27a5f;
  padding: 5px;
}

.done {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
}

  
  @media (min-width: 1200px) {
    .card {
      width: 35%;
    }
  }
  
  @media (max-width: 600px) {
    .card {
      width: 80%;
    }
  }
  