.table {
  display: flex;
  text-transform: capitalize;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid #b8b6b6;
  flex-wrap: wrap;
}

.table td {
  display: flex;
  font-size: 14px;
  color: #5a5a5a;
  padding: 3px 0 2px 0;
}

.firstCollum {
  width: 45%;
}

.secondCollum {
  width: 25%;
  text-align: left;
}

.thirdCollum {
  width: 30%;
  font-weight: bold;
}

@media (max-width: 600px) {
  .table td {
    font-size: 15px;
  }
}
