.ico {
  width: 100%;
}

.figure {
  width: 20px;
  cursor: pointer;
  transition: ease opacity 80ms;
}

.figure:hover {
  opacity: 0.8;
}

@media (min-width: 1200px) {
}

@media (max-width: 600px) {
}
