.ico {
  width: 16px;
}

.figure {
  margin: 0 5px;
}

.yes {
  cursor: pointer;
  transition: ease opacity 80ms;
}

.yes:hover {
  opacity: 0.8;
}

@media (min-width: 1200px) {
}

@media (max-width: 600px) {
}
