.imgOut {
  width: 100%;
  display: flex;
}

.figure {
  width: 4%;
  display: flex-end;
  cursor: pointer;
  transition: ease opacity 80ms;
}

.figure:hover {
  opacity: 0.8;
}

@media (min-width: 1200px) {
  .figure {
    width: 2.5%;
    margin-right: 3%;
  }
}

@media (max-width: 600px) {
  .figure {
    width: 15%;
    margin-right: 3%;
  }
}
