.container,
.register {
  display: flex;
  width: 80%;
}

.container {
  align-items: center;
  flex: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.register {
  justify-content: flex-end;
  margin-top: 20px;
  text-decoration: none;
  transition: font-size 80ms;
}

.register,
.error {
  color: #334585;
}

.error {
  font-weight: bold;
}

.register:hover,
.register:active {
  text-decoration: underline;
  font-size: 16.3px;
}
