.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  flex-wrap: wrap;
  align-items: center;
  flex: 100%;
  justify-content: center;
}

.register {
  margin-top: 20px;
  display: flex;
  width: 80%;
  justify-content: flex-end;
  color: #334585;
}
