.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 80%;
}

.label {
  align-self: flex-start;
  font-size: 18px;
  line-height: 1.2em;
  margin-top: 10px;
  text-transform: uppercase;
  padding-left: 10%;
}

.label {
  color: #334585;
}

.select {
  background: #f7f3f3;
  border: none;
  border-radius: 8px;
  color: #a09e9e;
  margin: 14px 0 35px 0;
  padding: 8px;
  width: 80%;
}

.select:focus {
  color: #ec3939;
}

.select option {
  color: #ec3939;
}

.select,
.select option {
  font-size: 15px;
}

.link {
  margin-top: 25px;
  color: #334585;
  text-decoration: none;
  transition: font-size 80ms;
}

.link:hover,
.link:active {
  text-decoration: underline;
  font-size: 16.5px;
}

@media (min-width: 1200px) {
  .select {
    margin: 10px 0 30px;
  }
}
